body {
    /* background: linear-gradient(to right, blue, purple); */
    background: url('https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered-button {
    display: flex;
    justify-content: center;
}

.centered-button button {
    display: flex;
    justify-content: center;
    background-color: #0f338e93; /* dark blue background color */
    color: white; /* White text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove the default button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Font size */
}

.centered-button button:hover {
    background-color: green; /* Blue background on hover */
}
.verification {
    /* background: white; */
    background: #0f338e93;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.code {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    height: 50px;
}

.code input {
    width: 30px;
    border-radius: 10px;
    font-size: larger;
    text-align: center;
}

#verifyBtn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}